// Your custom variables
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//FIXME
// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}